---
---
/*
 * African Terminal
 * created by Philipp Geisler
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,600');

@import "vendor/bulma/sass/utilities/initial-variables";

/* ================================================== *\
 *  BULMA VAR OVERRIDES ($section)
\* ================================================== */

$at-red:    rgb(252,  30, 0);
$at-yellow: rgb(255, 255, 0);

$primary: $at-red;
$warning: $at-yellow;

@import "vendor/bulma/bulma";

/* ================================================== *\
 *  VARIABLES ($section)
\* ================================================== */

$family-headers: "Roboto Condensed", sans-serif;


/* ================================================== *\
 *  BASE ELEMENTS ($section)
\* ================================================== */

/* TITLE + MENU BAR */
.at-logo {
  width:  250px;
  height: 250px;
  padding: 12px;
  vertical-align: middle;
}

.at-title {
  font-size: 4em;
  font-weight: 600;
  color: $background;
}

.at-hero-title {
  background-color: $black;
}

/* .at-sub-nav {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dbdbdb;
} */

.at-top-nav a {
  color: $grey-light;
}

.agt-intro {
  font-size: 1.15rem;
  font-weight: 700;
}

/* HEADERS */
h1, h2, h3 {
  font-family: $family-headers;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-weight: 400;
}

nav {
  font-family: $family-headers;
}

/* ================================================== *\
 *  NAVIGATIONAL ELEMENTS ($section)
\* ================================================== */

/* ====================================== *\
 *  PAGES ($section)
\* ====================================== */

/* ====================================== *\
 *  SECTIONS ($section)
\* ====================================== */

.footer {
  font-family: $family-headers;
}

/* ====================================== *\
 *  MISC, OVERRIDES,… ($section)
\* ====================================== */

/* adjusts font-color for some .hero elements */
.hero.is-primary .title.at-title,
.hero.is-primary .help {
  color: $black;
}

.hero.is-primary .content {
  color: $background;
}
