---
---
/*
 * African Terminal
 * created by Philipp Geisler
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

@import "vendor/bulma/sass/utilities/initial-variables";

/* ================================================== *\
 *  BULMA VAR OVERRIDES ($section)
\* ================================================== */

$primary: darken($green, 10%);

@import "vendor/bulma/bulma";

/* ================================================== *\
 *  VARIABLES ($section)
\* ================================================== */

$family-headers: "Roboto Condensed", sans-serif;


/* ================================================== *\
 *  BASE ELEMENTS ($section)
\* ================================================== */

/* HEADERS */
h1, h2, h3 {
  font-family: $family-headers;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-weight: 400;
}


/* ================================================== *\
 *  NAVIGATIONAL ELEMENTS ($section)
\* ================================================== */

/* ====================================== *\
 *  PAGES ($section)
\* ====================================== */

/* ====================================== *\
 *  SECTIONS ($section)
\* ====================================== */

.footer {
  font-family: $family-headers;
}

/* ====================================== *\
 *  MISC, OVERRIDES,… ($section)
\* ====================================== */

.has-flex-end {
  align-self: flex-end;
}

/* https://codepen.io/alexcarpenter/pen/LveDx
   not working as intended, covering whole page

.has-background-image {
  background-image: url('https://unsplash.it/800/450');
  background-size: cover;

  &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right, rgba(0,0,0,0), $background);
  }
} */
