  <footer class="footer">
    <div class="container">
      <nav class="columns">
        <div class="column is-one-third">
          <h6>Operatives Geschäft</h6>
          <ul>
            <li><a href="#">Handel</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Business School</a></li>
          </ul>
        </div>
        <div class="column is-one-third">
          <h6>Über uns</h6>
          <ul>
            <li><a href="#">Kooperative</a></li>
            <li><a href="#">Ort</a></li>
            <li><a href="#">Vision</a></li>
          </ul>
        </div>
        <div class="column is-one-third">
          <ul>
            <li><a href="#">Impressum</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
</html>
