  <!-- spacer workaround… -->
  <div class="level"></div>

  <footer class="footer">
      <nav class="columns">
        <div class="column is-one-third">
          Operatives Geschäft
          <ul>
            <li><a href="/">Handel</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/business-school">Business School</a></li>
          </ul>
        </div>
        <div class="column is-one-third">
          Über uns
          <ul>
            <li><a href="/about">Kooperative</a></li>
            <li><a href="/about/place">Ort</a></li>
            <li><a href="/about/vision">Vision</a></li>
          </ul>
        </div>
        <div class="column is-one-third">
          <div class="">
            <a href="/impressum">Impressum</a>
          </div>
          <div class="has-flex-end">
            <span class="icon"></span><a href="#"><img src="/images/feather/icons/logos/twitter.svg" alt="Twitter"></a></span>
            <span class="icon"></span><a href="#"><img src="/images/feather/icons/logos/facebook.svg" alt="Facebook"></a></span>
          </div>
        </div>
      </nav>
  </footer>
</body>
</html>
