<section class="hero is-primary" id="contribute">
    <div class="hero-body columns">

      <div class="column is-5 is-offset-2">

        <form method="post" enctype="multipart/form-data" class="box">
          <div class="field">
            <label class="label">Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="Name">
            </p>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <p class="control">
              <input class="input is-primary" type="text" placeholder="ihre@emailadresse.de">
            </p>
            <p class="help">Pflichtfeld</p>
          </div>

          <div class="field">
            <label class="label">Was haben Sie abzugeben?</label>
            <p class="control">
              <span class="select">
                <select>
                  <option>Elektrogerät</option>
                  <option>Motorenteile</option>
                </select>
              </span>
            </p>
          </div>

          <div class="field">
            <label class="label">Nachricht</label>
            <p class="control">
              <textarea class="textarea is-primary" placeholder="Ihre Nachricht"></textarea>
            </p>
            <p class="help">Pflichtfeld</p>
          </div>

          <div class="field">
            <label class="label">Foto</label>
            <!--p class="control">
            <input class="" name="datei" type="file" size="50" accept="image/*">
          </p-->
          <p class="help">Wenn Sie ein Foto von Ihrem Gebrauchtangebot haben, können Sie es hier für uns hochladen. Klicken/tippen Sie dazu auf "Datei auswählen".</p>
          <p class="control">
            <input type="file" size="200" accept="image/*" capture="camera">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <button class="button is-warning">Abschicken</button>
          </p>
        </div>
      </form>

    </div>

    <div class="column is-3">
      <article class="content hero is-primary">
        <p>
          Um zu African Terminal beizutragen, können Sie Ihre nicht mehr gebrauchten, aber noch funktionsfähigen Haushaltsgeräte, Möbel, Kinderkleidung und -spielzeug, aber auch Altreifen und Motorenteile spenden.
        </p>
        <p>
          <strong>Wir holen die Gebrauchtwaren bei Ihnen ab!</strong>
        </p>
        <p>
          Füllen Sie bitte das Formular links aus. Die Angaben erreichen African Terminal als Email – sie werden <strong>absolut vertraulich</strong> behandelt. Sehen Sie dazu auch unsere <a href="/Impressum#privacy">Angaben zum Datenschutz</a>.
        </p>
        <p>
          Beschreiben Sie bitte kurz, was Sie beitragen wollen. Seien Sie möglichst konkret und geben z.B. Typenbezeichnungen bei Elektrogeräten mit an. Sie können uns auch ein (Handy-)Foto über das Formular schicken. Einfach links auf <em>Datei auswählen</em> klicken.
        </p>
        <p><strong>Vielen Dank!</strong></p>
      </article>
    </div>

  </div>

</section>
