<section class="hero is-primary" id="contribute">
    <div class="hero-body columns">
      <div class="column is-6 is-offset-3">

        <div class="columns">

          <div class="column is-7">
            <form id="at_form" class="box" @submit.prevent="save">
              <div class="field">
                <label class="label">Name</label>
                <p class="control">
                  <input class="input" type="text" placeholder="Name" v-model="name">
                </p>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <p class="control">
                  <input class="input is-primary" type="text" placeholder="ihre@emailadresse.de" v-model="email">
                </p>
                <p class="help">Pflichtfeld</p>
              </div>

              <div class="field">
                <label class="label">Was haben Sie abzugeben?</label>
                <p class="control">
                  <span class="select">
                    <select v-model="type">
                      <option value="laptops"     >Laptop, Computer</option>
                      <option value="flatscreentv">Flachbildschirm</option>
                      <option value="sports"      >Sportausrüstung, Fitnessgerät, Fußbälle</option>
                      <option value="clothes"     >Kleidung, Kinderkleidung, Schuhe</option>
                      <option value="toys"        >Kinderspielzeug</option>
                      <option value="strollers"   >Kinderwagen</option>
                      <option value="sofas"       >Sofa, Couch</option>
                      <option value="bikes"       >Fahrrad, Motorrad</option>
                      <option value="carparts"    >Motorenteile, Reifen</option>
                      <option value="misc"        >Anderes</option>
                    </select>
                  </span>
                </p>
              </div>

              <div class="field">
                <label class="label">Nachricht</label>
                <p class="control">
                  <textarea class="textarea is-primary" placeholder="Ihre Nachricht" v-model="message"></textarea>
                </p>
                <p class="help">Pflichtfeld</p>
              </div>

              <div class="field">
                <label class="label">Foto</label>
                <!--p class="control">
                <input class="" name="datei" type="file" size="50" accept="image/*">
              </p-->
              <p class="help">Wenn Sie ein Foto von Ihrem Gebrauchtangebot haben, können Sie es hier für uns hochladen. Klicken/tippen Sie dazu auf "Datei auswählen".</p>
              <p class="control">
                <input type="file" size="200" accept="image/*" capture="camera" ref="photo">
              </p>
            </div>

            <div class="field">
              <p class="control">
                <button class="button is-warning" v-text="submitText"></button>
              </p>
            </div>
          </form>

          <script>
            var at_form = new Vue({
              el: '#at_form',
              data: {
                name: '',
                email: '',
                type: '',
                message: '',
                submitText: 'Abschicken'
              },
              methods: {
                save: function() {
                  var itemsRef = firebase.database().ref('items');
                  var storageRef = firebase.storage().ref();
                  var photo;

                  var item = {
                    name: this.name,
                    email: this.email,
                    type: this.type,
                    message: this.message
                  }

                  var pushedItem = itemsRef.push(item);

                  if (this.$refs.photo.files.length > 0) {
                    photo = this.$refs.photo.files[0];
                    storageRef.child('photos/' + pushedItem.key + '.' + photo.name).put(photo);
                  }

                  this.name = '';
                  this.email = '';
                  this.type = '';
                  this.message = '';
                  this.submitText = 'Vielen Dank!';
                }
              }
            });
          </script>
        </div>

        <div class="column is-5">
          <article class="content hero is-primary">
            <p>
              Um zu African Terminal beizutragen, können Sie Ihre nicht mehr gebrauchten, aber noch funktionsfähigen Haushaltsgeräte, Möbel, Kinderkleidung und -spielzeug, aber auch Altreifen und Motorenteile spenden.
            </p>
            <p>
              <strong>Wir holen die Gebrauchtwaren bei Ihnen ab!</strong>
            </p>
            <p>
              Füllen Sie bitte das Formular links aus. Die Angaben erreichen African Terminal als Email – sie werden <strong>absolut vertraulich</strong> behandelt. Sehen Sie dazu auch unsere <a href="/Impressum">Angaben zum Datenschutz</a>.
            </p>
            <p>
              Beschreiben Sie bitte kurz, was Sie beitragen wollen. Seien Sie möglichst konkret und geben z.B. Typenbezeichnungen bei Elektrogeräten mit an. Sie können uns auch ein (Handy-)Foto über das Formular schicken. Einfach links auf <em>Datei auswählen</em> klicken.
            </p>
            <p><strong>Vielen Dank!</strong></p>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>
