<section class="box hero is-primary" id="contribute">

<form method="post" enctype="multipart/form-data">
  <div class="field">
    <label class="label">Name</label>
    <p class="control">
      <input class="input" type="text" placeholder="Name">
    </p>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <p class="control">
      <input class="input is-primary" type="text" placeholder="ihre@emailadresse.de">
    </p>
    <p class="help">Pflichtfeld</p>
  </div>

  <div class="field">
    <label class="label">Was haben Sie abzugeben?</label>
    <p class="control">
      <span class="select">
        <select>
          <option>Elektrogerät</option>
          <option>Motorenteile</option>
        </select>
      </span>
    </p>
  </div>

  <div class="field">
    <label class="label">Nachricht</label>
    <p class="control">
      <textarea class="textarea is-primary" placeholder="Ihre Nachricht"></textarea>
    </p>
    <p class="help">Pflichtfeld</p>
  </div>

  <div class="field">
    <label class="label">Foto</label>
    <p class="">Wenn Sie ein Foto von Ihrem Gebrauchtangebot haben, können Sie es hier für uns hochladen.</p>
    <!--p class="control">
      <input class="" name="datei" type="file" size="50" accept="image/*">
    </p-->
    <p class="control">
        <input type="file" size="200" accept="image/*" capture="camera">
    </p>
  </div>

  <div class="field">
    <p class="control">
      <button class="button is-warning">Abschicken</button>
    </p>
  </div>
</form>

</section>
