<header class="hero at-hero-title has-text-centered">

  <div class="hero-body is-paddingless">
    <h1 class="title at-title">AFRICAN<img src="/images/at_logo_nt.svg" alt="African Terminal logo" class="at-logo">TERMINAL</h1>
  </div>

  <div class="hero-footer">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <nav class="at-top-nav tabs is-large is-boxed is-fullwidth has-text-centered">
          <ul>
            <li class="{% if site.menus.main contains page.title %}is-active{% endif %} ">
              <a href="/">Was wir tun</a>
            </li>
            <li class="{% if site.menus.about contains page.title %}is-active{% endif %} ">
              <a href="/about">Wer wir sind</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>

<nav class="at-sub-nav tabs is-large is-fullwidth has-text-centered">
    {% if site.menus.main contains page.title %}
    <ul>
      <li class="is-tab{% if page.title == 'Miteinander Handeln' %} is-active{% endif %}"><a href="/">Handel</a></li>
      <li class="is-tab{% if page.title == 'Events' %} is-active{% endif %} "><a href="/events">Events</a></li>
      <li class="is-tab{% if page.title == 'Business School' %} is-active{% endif %} "><a href="/business-school">Business School</a></li>
    </ul>
    {% endif %}
    {% if site.menus.about contains page.title %}
    <ul>
      <li class="is-tab{% if page.title == 'Die Kooperative' %} is-active{% endif %}"><a href="/about">Die Kooperative</a></li>
      <li class="is-tab{% if page.title == 'Ort' %} is-active{% endif %}"><a href="/about/place">Ort</a></li>
      <li class="is-tab{% if page.title == 'Vision' %} is-active{% endif %}"><a href="/about/vision">Vision</a></li>
    </ul>
    {% endif %}
</nav>
