<!DOCTYPE html>
<html lang="en" />
<head>
  <title>{{ site.title }}</title>

  <meta charset="utf-8" />
  <meta name="description" content="site.description <!-- FIXME -->" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

  <!-- DEBUG (disable caching) -->
  <!-- meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1" -->
  <!-- END DEBUG -->

  <link rel="stylesheet" media="screen" href="/css/style.css" type="text/css"/>

  <!-- link rel="icon" href="/assets/images/favicon-16.png" sizes="16x16" type="image/png">
	<link rel="icon" href="/assets/images/favicon-32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/assets/images/favicon-48.png" sizes="48x48" type="image/png">
	<link rel="icon" href="/assets/images/favicon-62.png" sizes="62x62" type="image/png" -->

  <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}/feed.xml" title="Blog Feed"/>
</head>
