{% include header.html %}
<body>
  {% include header-nav.html %}
  <main class="main">

    <section class="columns">
      <article class="content agt-intro column is-6 is-offset-3">
        {{ page.sections.intro | markdownify }}
        <p class="has-text-centered">
          <a href="#contribute" class="at-link-contribute is-large">Jetzt mitmachen!</a>
        </p>
      </article>
    </section>

    {% if page.sections.hero %}
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <img src="{{ page.sections.hero.image }}" alt="">
      </div>
    </div>

    <section class="level"></section>
    {% endif %}

    <section class="columns">
      <div class="column is-6 is-offset-3">

        <div class="columns">
          <div class="column content is-7">
            <article class="content">
              <h2 class="title is-3">{{ page.title }}</h2>
              {{ page.content | markdownify }}
            </article>
          </div>

          <aside class="content column is-5" id="news">
            {% for post in site.posts %}
            <div class="level">
              <div class="card">
                <article>
                  <header class="card-header">
                    <p class="card-header-title">
                      {{ post.title }}
                    </p>
                  </header>
                  <div class="card-image">
                    <figure class="image">
                      <img src="{{ post.image }}" alt="Image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content at-news-content">
                      {{ post.excerpt }}
                      <small>{{ post.date }}</small>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            {% endfor %}
          </aside>

        </div>

      </div>
    </section>


<!--div class="target-width">

    <section class="columns">
      <div class="column is-5 is-offset-2">
        <article class="message content is-hidden">
          <div class="message-body">
            <h2>default.html</h2>
            <ul>
              <li>page.title: {{ page.title }}</li>
            </ul>
          </div>
        </article>
        <article class="content">
          <h2 class="title is-3">{{ page.title }}</h2>
          {{ page.content | markdownify }}
        </article>
      </div>

      <aside class="content column is-3" id="news">

        {% for post in site.posts %}
        <div class="level">
          <div class="card">
            <article>
              <header class="card-header">
                <p class="card-header-title">
                  {{ post.title }}
                </p>
              </header>
              <div class="card-image">
                <figure class="image">
                  <img src="{{ post.image }}" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content at-news-content">
                  {{ post.excerpt }}
                  <small>{{ post.date }}</small>
                </div>
              </div>
            </article>
          </div>
        </div>
        {% endfor %}

      </aside>
    </section>

</div-->

    {% include form-contribute.html %}

  </main>

  {% include footer.html %}
