{% include header.html %}
<body>
  {% include header-nav.html %}
  <main class="container">
    <section class="level">
      <article class="content">
        {{ page.sections.intro | markdownify }}
      </article>
    </section>

    {% if page.sections.hero %}
    <section class="box hero">
      <div class="columns">
        <div class="column is-two-thirds">
          <img src="{{ page.sections.hero.image }}" alt="">
        </div>
        <div class="column content is-one-third">
          {{ page.sections.hero.text | markdownify }}
          <p class="has-text-centered">
            <a href="#contribute" class="button is-primary">Jetzt mitmachen!</a>
          </p>
        </div>
      </div>
    </section>
    {% endif %}

    <section class="content">
      <article class="message">
        <div class="message-body">
          <h2>default.html</h2>
          <ul>
            <li>page.title: {{ page.title }}</li>
          </ul>
        </div>
      </article>
    </section>
    <section class="section">
      <div class="columns">
        <div class="column is-two-thirds" id="contribute">
            {% include form-contribute.html %}
        </div>
        <div class="column is-one-third">
          {% for post in site.posts %}
            <article class="content">
              <header>
                <h3>{{ post.title }}</h3>
              </header>
              <p>
                {{ post.excerpt }}
              </p>
            </article>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>

</body>
{% include footer.html %}
